@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 265 84% 51%;
    --primary-foreground: 0 0% 98%;
    
    --secondary: 172 66% 40%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 172 66% 40%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 265 84% 51%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-border {
  background: linear-gradient(var(--background), var(--background)) padding-box,
              linear-gradient(to right, hsl(var(--primary)), hsl(var(--secondary))) border-box;
  border: 1px solid transparent;
}

